.sec{
    border-top: 1px solid rgb(177, 175, 175);
}
h3{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    color:rgb(69, 131, 212);
}
.left{
    padding-left: 2%;
    width: 30%;
    float: left;
    height: 100vh;
}

.right{
    float: right;
    width: 70%;
    padding-left: 5%;
    height: 100vh;
    border-left: 3px solid rgb(177, 175, 175);
    
  }







.inputBox,#slash{
    display: inline-block;
}

.Blabel{
    font-size: 100%;
    color:black;
}
span{
    font-size: 150%;
}
#slash{
    margin-left: 10px;
}

input{
    border-radius: 12px;
}
.subSec{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;
    width: fit-content;
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 2%;
    border: 3px solid rgb(177, 175, 175);
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
.Subbox,#TimeDate{
    margin-top: 20px;
    margin-bottom: 20px;
}
#nameBox,#emailBox{
    width: 400px;
}
#box3{
    margin-left: 50px;
}
#btns{
    display: inline-block;
}
#back{
    margin-right: 270px;
}
#LibIcon{
    display: block;
    margin-top: 20px;
    height: 60px;
    width: 250px;
    max-width: 100%;
    max-height: 100%;
}
.icon{
    display: inline-block;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}
