#OutterBox{
    margin-top: 20px;
}
#historyTitle{
    color:rgb(69, 131, 212);
    margin-left: 2%;
    margin-bottom: 50px;
}
#lib{
    float: left;
    margin-left: 2%;
    height: 15vh;
    width: 15vw;
}

#name,#loc,#date{
    font-size: medium;
    margin-right: 50px;
    margin-left: 20px;
    display: inline-block;
}
#email,#id,#time,button{
    font-size: medium;
    display: inline-block;
}
.subBox{
    border-bottom: 1px dotted black;
}
.spans{
    font-weight: bold;
    margin-left: 20px;
    color:rgb(33,150,243);
}

.hbox{
    float: right;
    background-color: rgb(235, 235, 235);
    border-radius: 10px ;
    width: 80%;
    height: fit-content;
    margin-right: 10%;
}

button{
    float: right;
    margin-top: 5px;
    margin-right: 50px;
}