ul.li{
    list-style: none;
    margin: 5;
    padding: 5px 5px;
}

li{
    display: flex;
}

span{
    flex: 1;
}

li:nth-child(odd){
    background-color: #F1F1F1;
}

.cardImg{
    overflow: auto;
    padding: 10px;
    float: left; 
}